:root {
    --green: #A7C4BC;
    --gray: #F2F2F2;

    --font-title: 2rem;
    --font-subtitle: 1.5rem;
    --font-text: 1.2rem;
}

html,
body {
    /* width: 960px; */
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}