.dragImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    border: 2px dashed #a7c4bc;
    margin-bottom: 16px;
    color: #a7c4bc;
    cursor: pointer;
}

.inputLabel {
    cursor: pointer;
    background-color: #a7c4bc;
    color: #fff;
    padding: 7px 30px;
    border-radius: 15px;
}
