.intro_wrapper {
    width: 100%;
}

.intro_head, 
.intro_recycling, 
.intro_chart {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_head {
    position: absolute;
    z-index: 1;
    /* right: 20vw; */
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.25);
}

.intro_video {
    width: 100%;
    height: 100%;
}

.intro_video video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.intro_data {
    width: 370px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    margin: 0 50px;
}

.intro_title {
    font-size: var(--font-title);
    font-family: 'Gugi', cursive;
}

.intro_subtitle {
    font-size: var(--font-subtitle);
    font-family: 'Gugi', cursive;
}

.intro_text {
    font-size: var(--font-text);
}

.intro_button {
    width: 200px;
    height: 60px;
    margin-top: 50px;
}

.intro_recycling {
    width: 100%;
    background-color: var(--gray);
}

.intro_card {
    width: 100%;
    height: 600px;
    display: flex;
}

.intro_card_item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
}

.intro_card_background {
    width: 100%;
    height: 100%;
}

.intro_card_image {
    width: 330px;
    height: 330px;
}

.intro_insert_text {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_waste_market {
    height: 860px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_waste_market_item {
    width: 1170px;
    height: 370px;
}

.intro_waste_market_top_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.intro_waste_market_image {
    width: 400px;
    height: 100%;
    background-color: wheat;
}

.intro_waste_market_text {
    width: 770px;
    background-color: #305E63;
    color: white;
    font-size: var(--font-title);
    font-family: 'Gugi', cursive;
    padding: 50px 0 0 50px;
}

.intro_waste_market_bottom_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.intro_waste_market_data {
    width: 570px;
    height: 310px;
    background-color: white;
    font-size: var(--font-subtitle);
    font-family: 'Gugi', cursive;
    padding: 50px 0 0 50px;
}