.nav {
    width: 100%;
    padding: 0 3rem;
    height: var(--nav-height);
    position: absolute;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    opacity: 0.83;
}
.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.navList {
    display: flex;
    font-size: 14px !important;
    justify-content: flex-end;
    align-items: center;
}
.nav li {
    margin: 0 1rem;
    display: flex;
}
.titleWrapper {
    display: flex;
    align-items: center;
}
